.pokedex {
    text-align: center;
    margin-top: 90px; 
    display: flex;
    flex-direction: column;
    font-family: 'sofia sans extra condensed';
}

.button-class{
    background-color: #deb110;
    border: 1px;
    border-color: #0d4eb8;
    color: #0d4eb8;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'sofia sans condensed';
    font-size: 16px;
    margin: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
    cursor: pointer;
    border: 2px #0d4eb8 solid;
    border-radius: 3px;
}

.button {
    background-color: salmon;
    border: 1px;
    color: antiquewhite;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'quicksand';
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
}

.error-message {
    color: red;
    font-size: 0.8em;
}